$color-grey: #ddd;
$color-red: #d24a43;
$color-darker-grey: #eee;
$color-dark-grey: #555;

$font-family-base: 'Open Sans', sans-serif;
$font-weight-black: 900;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;
