@use '../styles/utils' as *;
@use '../styles/scaffolding/variables' as *;

.navigation {
    background-color: $color-grey;
}

.navigation__inner {
    @include container;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    color: $font-color-dark;

    a {
        flex-grow: 1;
        display: block;
        padding: 14.5px 10px 13.5px;
        font-size: 16px;
        line-height: 1.2em;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        color: inherit;
        font-weight: $font-weight-semibold;

        &:hover,
        &:focus {
            color: #fff;
            background-color: $color-red;
        }
    }
}
