@use '../styles/utils' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header__logo {
    width: 160px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
        display: flex;
    }

    svg {
        width: 100%;
        height: auto;
    }
}

@include breakpoint(medium) {
    .header {
        display: block;
        padding: 0;
    }

    .header__inner {
        @include container;
    }

    .header__logo {
        width: 280px;
    }
}
