@use '../styles/utils' as *;

.header {
    @include container;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    flex: 0 1 160px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    a {
        display: flex;
    }

    svg {
        width: 100%;
        height: auto;
    }
}

.header__navigation {

}

@include breakpoint(medium) {
    .header {
        flex-wrap: wrap;
    }

    .header__logo {
        flex: 0 1 280px;
    }
}
