@use '../styles/utils' as *;
@use '../styles/scaffolding/variables' as *;

.promo__inner {
    @include container;
    box-sizing: content-box;
    margin-top: 53.5px;
    margin-bottom: 51px;
    padding-bottom: 10px;
    text-align: center;
}

.promo__content {
    max-width: 580px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;

    p {
        margin: 0;
        line-height: 1.5em;

        + p {
            margin-top: 9px;
        }
    }

    b {
        font-weight: $font-weight-semibold;
    }

    mark {
        font-weight: $font-weight-semibold;
        color: $color-red;
        background-color: transparent;
    }
}

.promo__buyButton {
    margin: 34px auto 0;
}

@include breakpoint(medium) {
    .promo__content {
        transform: translateX(19px);
    }
}
