@use '../styles/utils' as *;
@use '../styles/scaffolding/variables' as *;

.schedule {
    margin-top: 35px;

    + footer {
        margin-top: 60px;
    }
}

.schedule__inner {
    @include container;
}

.schedule__headline {
    margin-bottom: 35.5px;
}

.schedule__table {
    width: 240px;
    margin: 0 auto;
    border-collapse: collapse;

    tr {
        &:nth-of-type(odd) {
            td {
                background-color: $color-darker-grey;
            }
        }
    }

    td {
        width: 50%;
        padding: 11px 10px 10px;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
    }
}
